.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #fff;
  border-top: 3px solid #222;
  // border-bottom: 2px solid #222;
  box-sizing: border-box;

  .footer__inner {
    // background: #fff;
    // background: url("../../img/noise-bg.png") repeat;

    .footer__title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      // height: 20vw;
      font-size: 7rem;
      line-height: 1.5;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: var(--black100);
    }
  }
}
