#navigation {
  .header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(30px);
    top: 0;
    padding: 2rem 5rem;
    // background: rgb(217, 232, 243);
    transition: opacity 0.3s ease;
    z-index: 120;

    @media (max-width: 1024px) {
      padding: 1.25rem 3rem;
    }

    .cursor {
      position: absolute;
      left: 10rem;
      top: 10rem;
      width: max-content;
      /* transition: 0.05s cubic-bezier(0.215, 0.61, 0.355, 1); */
      background: rgba(219, 16, 16, 0.9);
      border: 1px solid red;
      border-radius: 30rem;
      box-sizing: border-box;
      box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
      padding: 0.9rem 1.5rem 0.9rem 1.6rem;
      user-select: none;
      pointer-events: none;
      z-index: 2000;
      transform: scale(1);
      opacity: 0;
    }
    .cursor.active {
      width: 15rem;
      height: 15rem;
      border: none;
      border-radius: 50%;
      transform: scale(1.3);
      background: rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(8px);
    }
    .cursor .text {
      display: inline-block;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.9rem;
    }
    .cursor.active .text {
      color: #222;
    }

    .header__logo {
      flex: none;
      width: 8rem;
      height: 4rem;
      transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

      .header__logodraw {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;

        img {
          display: block;
          position: relative;
          left: 0;
          height: 100%;
          transform-origin: center;
        }
      }
    }

    .header__menu-button {
      flex: none;
      position: relative;
      width: 4rem;
      height: 4rem;
      text-align: center;
      background: #fff;
      border: 2px solid #000;
      box-sizing: border-box;
      transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      margin-left: auto;
      z-index: 135;

      .menu-button-shape {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-transform-origin: center;
        transform-origin: center;

        > span {
          position: absolute;
          top: calc(50% - 1px);
          left: 30%;
          width: 40%;
          height: 2px;
          background-color: #000;
          transform-origin: center;
          transition: transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19),
            margin 0.1s ease 0.18s,
            -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

          &:first-child {
            margin-top: -14%;
          }
          &:nth-child(2) {
            margin-top: 14%;
          }
        }
      }
    }
  }

  .side-area {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 30%;
    background: #fff;
    height: 100vh;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1.2;
    border-left: 2px solid #000;
    transition: 0.4s;
    z-index: 130;

    @media (max-width: 1023px) {
      width: 50%;
    }
    @media (max-width: 767px) {
      width: 100%;
      border-left: none;
    }

    &.active {
      transform: translateX(0%);

      .close {
        &:before {
          transform: rotate(-45deg) translate(-50%, -50%);
        }
        &:after {
          transform: rotate(45deg) translate(-50%, -50%);
        }
      }
    }
  }

  .gnb-item {
    padding: 10px 0;

    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background: #f0ff36;
        transform-origin: 100% 0%;
        transform: scale(0, 1);
        transition: transform 0.6s cubic-bezier(0.36, 0.14, 0, 1);
      }

      &:hover {
        &::after {
          transform-origin: 0% 50%;
          transform: scale(1, 1);
        }
      }

      b {
        position: relative;
        z-index: 1;
      }
    }
  }

  .close {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      display: inline-block;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background: #222;
      transform: rotate(0) translate(-50%, -50%);
      transform-origin: left top;
      transition: 0.5s 0.6s;
    }
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      display: inline-block;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background: #222;
      transform: rotate(0) translate(-50%, -50%);
      transform-origin: left top;
      transition: 0.5s 0.6s;
    }
  }

  .nav-footer {
    position: fixed;
    bottom: 5rem;
    left: 5rem;
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s,
      margin 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    opacity: 1;
    z-index: 1100;

    .copyright {
      font-size: 1.2rem;
      font-weight: 700;
    }

    @media (max-width: 1024px) {
      left: 3rem;
    }
  }

  .main-contents {
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media (max-width: 768px) {
      display: none;
    }
  }
  .main-slider__header {
    display: block;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 700;
    top: 16rem;
    margin-left: 5rem;
    z-index: 50;

    @media (max-width: 1024px) {
      margin-left: 3rem;
    }

    > a {
      display: inline-block;
      left: 0;
      top: 0;
      transition: transform 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);

      .block-text,
      .block-text--break {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
      }

      .block-text__line {
        display: flex;
        position: relative;

        &:first-child .block-text__word:before {
          transition-delay: 0ms !important;
        }

        &:nth-child(2) .block-text__word:before {
          transition-delay: 60ms !important;
        }

        &:nth-child(3) .block-text__word:before {
          transition-delay: 0.12s !important;
        }

        .block-text__word {
          display: inline-block;
          position: relative;
          left: -2rem;
          padding-right: 5rem;
          transition: all 0.3s ease-in-out;

          .mask-text {
            display: inline-block;
            overflow: hidden;
            vertical-align: top;

            > img {
              width: 2rem;
              height: auto;
            }

            > span {
              display: inline-block;
              position: relative;
              animation: slideInDown 0.7s cubic-bezier(0.19, 1, 0.22, 1) both,
                fadeIn 0.4s ease;
              transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
                -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
          }
        }

        &:hover .block-text__word {
          left: 0;
          transition: all 0.3s ease-in-out;
        }

        &:hover .block-text__word::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 2rem;
          width: 100%;
          height: 2px;
          opacity: 0.5;
          background-color: #000;
          transition: left 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
            width 0.15s cubic-bezier(0.47, 0, 0.745, 0.715),
            opacity 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
      }
    }
  }
}
