@import "https://webfontworld.github.io/sunn/SUIT.css'";
@import "https://cdn.jsdelivr.net/xeicon/2/xeicon.min.css";
@import 'https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css';

.suit {
  font-family: 'SUIT';
}
.xeicon {
  font-family: 'xeicon';
}
.remixicon {
  font-family: 'remixicon';
}