:root {
  --mainEng-font: "SUIT Variable";
  --mainKor-font: "SUIT Variable";
  --mainNum-font: "SUIT Variable";

  --mainBg-color: #fff;
  --subBg100: #f5f5f5;
  --subBg200: #e0e0e0;
  --subBg300: #cfcfcf;
  --subBg400: #aeaeae;
  --subBg500: #727272;

  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;

  color: #222;
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--mainBg-color);
}
